* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

#nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  list-style: none;
  background: black;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  /* position: relative; */
}

nav ul {
  padding: 10px;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: crimson;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.section-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.home {
  background: #a14da0;
}
.about {
  background: #91c4f2;
}
.projects {
  background: #7e1f86;
}
.contact {
  background: #8ca0d7;
}
