<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <nav class="nav">
      <a href="/"><i class="bi bi-house-fill" style="font-size: 3em"></i></a>
    </nav>
    <h1 class="text-center">Movie Info</h1>
    <div class="task_container text-center">
      <ul style="list-style: none" class="container">
        <li class="list-group-item list-group-item-primary">Movie Title: <%=movies.name%></li>
        <li class="list-group-item list-group-item-primary">Came out: <%=movies.date%></li>

        <a href="/<%=movies.id%>/edit">Edit this listing </a>
        <form action="/<%=movies.id%>?_method=DELETE" method="POST">
          <input class="delete btn btn-danger" type="submit" value="DELETE" />
        </form>
      </ul>
    </div>
  </body>
</html>
